name: Lint

# CINTENT >> MANUAL TRIGGER
# on:
#   # Triggers the workflow on push or pull request events but only for the main branch
#   push:
#     branches: [ main ]
#   pull_request:
#     branches: [ main ]
#   # Allows you to run this workflow manually from the Actions tab
#   workflow_dispatch:
on: [repository_dispatch, workflow_dispatch]

jobs:
  build:
    name: "python ${{ matrix.python-version }} lint"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11"]
    steps:
    # CINTENT >> NEED_API_KEY
    # - name: Cancel previous
    #   uses: styfle/cancel-workflow-action@0.7.0
    #   with:
    #     access_token: ${{ github.token }}
    #   if: ${{github.ref != 'refs/head/main'}}
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    
    # CINTENT >> INSERT_CINTENT
    - uses: JavidDitty/setup-cintent@3638849e94bdb037f0a405375686a8550e6df904
      with:
        nonblocking: true

    # CINTENT >> REMOVE_CACHE
    # - name: Get pip cache dir
    #   id: pip-cache
    #   run: |
    #     python -m pip install --upgrade pip wheel
    #     echo "::set-output name=dir::$(pip cache dir)"

    # - name: pip cache
    #   uses: actions/cache@v4
    #   with:
    #     path: ${{ steps.pip-cache.outputs.dir }}
    #     key: ${{ runner.os }}-pip-${{ hashFiles('**/setup.py') }}

    - name: Install Weatherbench 2
      run: |
        pip install -e .[tests]

    - name: Lint with pyink
      run: |
        pyink --check --diff --color .

    # CINTENT >> INSERT_CINTENT
    - name: Upload CIntent Artifacts
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: ${{ env.CINTENT_ARTIFACT_NAME }}
        path: ${{ env.CINTENT_LOGS }}
